@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

#dailymotion a,
#dailymotion a:visited,
#dailymotion a:link,
#dailymotion a:hover {
  color: #ffffff !important;
  text-decoration: none;
}

#dailymotion .row-1 {
  cursor: pointer;
  height: 5%;
  padding-left: 3%;
  padding-top: 3%;
  outline: none;
  text-emphasis: none;
}

#dailymotion .row-2 {
  cursor: pointer;
  height: 10%;
  outline: none;
  text-emphasis: none;
}

#dailymotion .row-3 {
  cursor: pointer;
  height: 45%;
  padding-left: 3%;
  padding-bottom: 3%;
  overflow: hidden;
  outline: none;
  text-emphasis: none;
}

#dailymotion .overlay {
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  outline: none;
  text-emphasis: none;
}

#dailymotion p {
  cursor: pointer;
  margin: 0;
  outline: none;
  text-emphasis: none;
}

#dailymotion .channel,
#dailymotion .title,
#dailymotion .time {
  font-size: 1vw;
  outline: none;
  text-emphasis: none;
  /*   white-space: normal; */
}

@media (min-width: 0px) and (max-width: 640px) {
  #dailymotion .channel,
  #dailymotion .title,
  #dailymotion .time {
    font-size: 4vw;
    outline: none;
    text-emphasis: none;
  }
  #dailymotion .fa-play-circle {
    font-size: 12vw !important;
    outline: none;
    text-emphasis: none;
  }
}

@media (min-width: 641px) and (max-width: 1000px) {
  #dailymotion .channel,
  #dailymotion .title,
  #dailymotion .time {
    font-size: 2vw !important;
    outline: none;
    text-emphasis: none;
  }
  #dailymotion .fa-play-circle {
    font-size: 8vw !important;
    outline: none;
    text-emphasis: none;
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  #dailymotion .channel,
  #dailymotion .title,
  #dailymotion .time {
    font-size: 1.5vw !important;
    outline: none;
    text-emphasis: none;
  }
  #dailymotion .fa-play-circle {
    font-size: 5vw !important;
    outline: none;
    text-emphasis: none;
  }
}

#dailymotion .play-button i.fa-play-circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  text-emphasis: none;

  font-size: 3vw;
  color: #ffffff;
}

#dailymotion {
  position: relative;
}

#dailymotion .owl-item {
  margin: 10px 0;
  outline: none;
  text-emphasis: none;
}

#dailymotion .owl-item:hover {
  z-index: 9999;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  outline: none;
  text-emphasis: none;
}

#dailymotion .owl-prev,
#dailymotion .owl-next {
  position: absolute;
  height: 50%;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
  display: block;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  outline: none;
  text-emphasis: none;
}

#dailymotion .owl-prev {
  left: 0;
  outline: none;
  text-emphasis: none;
}

#dailymotion .owl-next {
  right: 0;
  outline: none;
  text-emphasis: none;
}

#dailymotion i {
  font-size: 3em;
  color: #cecece;
  outline: none;
  text-emphasis: none;
}

#dailymotion .owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #fff;
  text-decoration: none;
  outline: none;
  text-emphasis: none;
}

#dailymotion .owl-theme .owl-prev.disabled,
#dailymotion .owl-theme .owl-next.disabled {
  display: none;
  outline: none;
  text-emphasis: none;
}
.svg{
  fill:rgb(128,128,128)
}